 <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :bp %>
    <%= f.text_field :bp %>
  </div>

  <div class="field">
    <%= f.label :pulse %>
    <%= f.text_field :pulse %>
  </div>

  <div class="field">
    <%= f.label :temp %>
    <%= f.text_field :temp %>
  </div>

  <div class="field">
    <%= f.label :rr %>
    <%= f.text_field :rr %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.datetime_select :time %>
  </div>

  <div class="field">
    <%= f.label :minutes %>
    <%= f.text_field :minutes %>
  </div>

  <div class="field">
    <%= f.label :houres %>
    <%= f.text_field :houres %>
  </div>

  <div class="field">
    <%= f.label :days %>
    <%= f.text_field :days %>
  </div>

  <div class="field">
    <%= f.label :weeks %>
    <%= f.text_field :weeks %>
  </div>

  <div class="field">
    <%= f.label :months %>
    <%= f.text_field :months %>
  </div>

  <div class="field">
    <%= f.label :main_view %>
    <%= f.text_area :main_view %>
  </div>

  <div class="field">
    <%= f.label :lab_view %>
    <%= f.text_area :lab_view %>
  </div>

  <div class="field">
    <%= f.label :document_view %>
    <%= f.text_area :document_view %>
  </div>

  <div class="field">
    <%= f.label :order_view %>
    <%= f.text_area :order_view %>
  </div>

  <div class="field">
    <%= f.label :radiology_view %>
    <%= f.text_area :radiology_view %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= link_to 'Back', patients_path %>